layout {
    cwd "/mnt/c/Users/randy"
    tab name="Workspace" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="broot" name="Directory View" cwd="/mnt/c/Users/randy" size="50%" {
            start_suspended true
        }
        pane command="bash" name="Quick Reference" cwd="/mnt/c/Users/randy" size="50%" {
            args "-c" "env LESSOPEN=\"\" less -S /etc/cellar/cheatsheet.txt"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="Navigator" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane command="broot" name="Directory View" cwd="/mnt/c/Users/randy" size="70%" {
                start_suspended true
            }
            pane command="bash" name="Quick Reference" cwd="/mnt/c/Users/randy" size="30%" {
                args "-c" "env LESSOPEN=\"\" less -S /etc/cellar/cheatsheet.txt"
                start_suspended true
            }
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="Diagnostics" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="btop" name="Diagnostic Shell" cwd="/mnt/c/Users/randy" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="Avatar" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="opencode" cwd="/mnt/c/Users/randy/Documents/Projects/2d-Kiosk-Avatar" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="Adobe AIR recompile" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="opencode" cwd="/mnt/c/Users/randy/Documents/Projects" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="Home" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="ssh" cwd="/home/randy/.ssh" {
            args "-t" "home-host"
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="RootCellar" focus=true hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="opencode" cwd="/mnt/c/Users/randy" focus=true {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    tab name="OmniCenter" hide_floating_panes=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane command="opencode" cwd="Documents/Projects/experience-center" {
            start_suspended true
        }
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane cwd="/mnt/c/Users/randy"
        pane size=1 borderless=true {
            plugin location="file:/etc/cellar/zellij/plugins/zjstatus.wasm" {
                format_left "#[bg=#5277C3,fg=#F5F3F1,bold] ( {mode} ) #[bg=#191622] "
                format_center "#[fg=#F5F3F1]{tabs} "
                format_right "Ctrl + #[fg=#7EBAE5,bold](g)#[fg=#F5F3F1] LOCK #[fg=#7EBAE5,bold](p)#[fg=#F5F3F1] PANE #[fg=#7EBAE5,bold](t)#[fg=#F5F3F1] TAB #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] RESIZE #[fg=#7EBAE5,bold](h)#[fg=#F5F3F1] MOVE #[fg=#7EBAE5,bold](s)#[fg=#F5F3F1] SEARCH #[fg=#7EBAE5,bold](o)#[fg=#F5F3F1] SESSION #[fg=#7EBAE5,bold](q)#[fg=#F5F3F1] QUIT #[fg=#6F6785]│ #[fg=#A06BE0,bold]Alt + #[fg=#7EBAE5,bold](n)#[fg=#F5F3F1] New Pane #[fg=#A06BE0,bold](f)#[fg=#F5F3F1] Floating "
                format_space "#[bg=#191622]"
                background_color "#191622"
                foreground_color "#F5F3F1"
            }
        }
    }
}

